server {
    listen   80;

    root /var/www/{{ nginx_domain }};
    index index.php index.html;
    server_name  {{ nginx_domain }} {{ nginx_domain }};

    location / {
        try_files $uri $uri/ /index.php?q=$request_uri;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/www;
    }

    location ~ .php$ {
        try_files $uri =404;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}
